$blue: #367fe9;
$grey: grey;

.App {
  font-size: 1.2rem;

  header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .App--contain-width {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    display: flex;
    line-height: 50px;
    height: 50px;
    letter-spacing: 0.5px;
    align-items: baseline;

    a {
      font-weight: 400;
      text-decoration: none;
    }

    .App--nav-group {
      flex: 0 0 auto;
      display: flex;

      &.App--nav-logo {
        width: 215px;
        align-self: flex-start;

        a {
          padding-top: 2px;
          color: $blue;
          font-weight: 500;
          font-size: 2rem;
          line-height: normal;
          letter-spacing: 0;
        }
      }

      &.App--nav-pages {
        flex-grow: 1;

        a {
          margin: 0 21px;
          color: grey;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      &.App--nav-actions {
        flex-grow: 1;
        justify-content: flex-end;
        align-items: baseline;
        text-align: center;
        font-size: 1rem;

        a {
          margin: 0 20px;
          font-weight: 500;

          &:last-child {
            margin-right: 0;
          }
        }

        .App--link-secondary {
          color: black;
        }
        .App--link-primary {
          color: white;

          background-color: $blue;
          padding: 0 25px;
          border-radius: 5px;
        }
      }
    }
  }
  
  section.App--intro {
    .App--intro-column {
      width: 45%;
      
      h1 {
        margin-top: 0;
        line-height: 1.18;
        padding-top: 155px;
        font-weight: 300;
        font-size: 3.5rem;
      }
  
      .App--intro-interactive {
        width: 535px;
        text-align: center;
  
        a {
          display: inline-block;
          width: 100%;
          line-height: 73px;
          text-decoration: none;
          color: white;
          background-color: $blue;
          border-radius: 5px;
        }
  
        p {
          margin: 10px 0;
          color: $grey;
        }
      }
    }

    aside {
      position: absolute;
      display: none;
    }
  }
}